<div>
  <h1>Products Management</h1>
  <div>
    <table>
      <thead>
        <tr>
          <td>ID</td>
          <td>Nombre</td>
          <td>Descripcion</td>
          <td>Fecha de Expiracion</td>
          <td>Precio</td>
          <td></td>
        </tr>
        @for (item of items; track $index) {
          <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.expirationDate }}</td>
            <td>{{ item.price }}</td>
            <td><button (click)="test(item)">Editar</button></td>
          </tr>
        }
      </thead>
    </table>
  </div>
</div>
<router-outlet />
